{% extends 'base.html' %}

  
{% block content %}
        



<div class="container">
    <div class="row">
        <div class="col-md-4  display panel panel-default ">
            <div class="block">
    
            </div>
            <select></select>
            <select></select>
            <a href="/"><button class="btn btn-success">Bid Now</button> </a>
        </div>

        <div class="col-md-4  display panel  panel-default">
            <div class="block">

            </div>
            <select></select>
            <select></select>
            <a href="/"><button class="btn btn-success">Bid Now</button> </a>
        </div>
        <div class="col-md-4 display panel panel-default">
            <div class="block">

            </div>
            <select></select>
            <select></select>
            <a href="/"><button class="btn btn-success">Bid Now</button> </a>
        </div>
        <div class="col-md-4 display panel panel-default">
            <div class="block">

            </div>
            <select></select>
            <select></select>
            <a href="/"><button class="btn btn-success">Bid Now</button> </a>
        </div>
    </div>

</div>
        
    
{% endblock %}
        

        
</body>
</html>